.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 将内容对齐到顶部 */
  height: 100vh;
  padding-top: 20px; /* 在顶部添加内边距 */
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* 调整为适当的值，以使输入框位于顶部 */
  top: 20px; /* 调整为适当的值，以使输入框位于顶部 */
}

.grid-format {
  /* margin-top: 20px; */
  text-align: center; /* 让其内部内容水平居中 */
}

.grid {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.alive {
  background-color: #000;
}

.dead {
  background-color: #fff;
}
